.home{
    background: #F2E3C3;
}

.home2 {
    background-image: url('/assets/bg-photo.png');
    background-size: cover;
    background-position: center;
    transform: translate(-5%, 0%);
    background-repeat: no-repeat;
    position: relative; /* Enable positioning */
    opacity: 50%;
}

  .home2 .absolute {
    background: inherit; /* Use the same background as the parent */
  }

  @media (max-width: 768px) {
    .home2 {
      transform: translate(0%, -40%) rotate(90deg); /* Rotate the background by 90 degrees */
      
    }
  }